{ns hl7-fhir-uv-ichom-breastcancer.pr-status,
 import
 #{hl7-fhir-r4-core.Observation
   zen.fhir
   hl7-fhir-r4-core.Reference
   hl7-fhir-r4-core.CodeableConcept
   hl7-fhir-uv-ichom-breastcancer.patient},
 schema
 {:zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen/desc
  "Represents if the progesterone receptor status is positive in a patient with breast cancer",
  :zen.fhir/type "Observation",
  :zen.fhir/profileUri
  "https://connect.ichom.org/fhir/StructureDefinition/pr-status",
  :zen.fhir/version "0.5.20",
  :confirms #{hl7-fhir-r4-core.Observation/schema zen.fhir/Resource},
  :type zen/map,
  :keys
  {:code
   {:match
    {:coding
     #{{:system "http://snomed.info/sct",
        :code "445029000",
        :display "Status of progesterone receptors of neoplasm"}}},
    :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}},
   :subject
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :zen.fhir/reference
    {:refers #{hl7-fhir-uv-ichom-breastcancer.patient/schema}}},
   :value
   {:type zen/map,
    :keys
    {:CodeableConcept
     {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema}}}}}}}