config/jwtRS256.key
config/jwtRS256.key.pub
beta
.cpcache
.volumes
app.log
.idea/
pom.xml
ui/*.iml
*.iml
.env.app
.env.aidbox
__pycache__/
.DS_Store
venv/
env/
htmlcov/
.coverage
node_modules/
.vscode
zrc/.lsp/
zrc/.clj-kondo/
zrc/node_modules/
.lsp/
.clj-kondo/
