{ns box
 import #{aidbox
          hl7-fhir-uv-ichom-breastcancer
          hl7-fhir-uv-sdc
          hl7-fhir-uv-sdc.sdc-questionnaire}

 box
 {:zen/tags #{aidbox/system}
  :zen/desc "fhir-ichom-breast-cancer-ig"
  :services {:seed-fixtures seed-fixtures}}


 QuestionnaireProfile
 {:zen/tags #{zen.fhir/profile-schema zen/schema}

  :confirms #{hl7-fhir-uv-sdc.sdc-questionnaire/schema}
  :zen.fhir/type "Questionnaire"
  :zen.fhir/profileUri "http://covidimaging.com/questionnaire",
  :type zen/map
  :zen.fhir/version "0.5.20"
  :keys {:launchContext {:type zen/vector}
         :mapping {:type zen/vector}}}

 seed-fixtures
 {:zen/tags  #{aidbox/service}
  :engine    aidbox/seed
  :files     ["seeds.ndjson.gz"]
  :resources
  {:AuthConfig {:app
                {:theme {:brand "Hadley Lab",
                         :title "Covidimaging",
                         :styleUrl #env AIDBOX_CSS
                         }}}
   :AccessPolicy {:super_admin
                  {:engine "json-schema",
                   :schema
                   {:required ["user"],
                    :properties
                    {:user
                     {:anyOf
                      [{:required ["id"], :properties {:id {:constant "admin"}}}
                       {:required ["data"],
                        :properties {:data {:required ["superAdmin"]}}}]}}}}
                  :patient {:engine "json-schema",
                            :schema
                            {:required ["user"],
                             :properties
                             {:user
                              {:anyOf
                               [{:required ["id"], :properties {:id {:constant "admin"}}}
                                {:required ["data"],
                                 :properties {:data {:required ["patient"]}}}]}}}}}
   :AidboxConfig {:provider {:provider
                             {:console { :type "console" },
                              :postmark {:type "smtp",
                                         :host "smtp.postmarkapp.com",
                                         :port 587,
                                         :ssl true,
                                         :from "no-reply@ucfwealth.app",
                                         :username #env POSTMARK_TOKEN,
                                         :password #env POSTMARK_TOKEN}
                              :default #env SMTP_PROVIDER }}}
   :SearchParameter {:User.email {:name "email"
                                  :type "string"
                                  :resource { :resourceType "Entity" :id "User" }
                                  :expression [["email"]]}}
   :Client {:SPA {:secret "123456", :grant_types ["password"]},
            :discourse
            {:auth
             {:authorization_code
              {:redirect_uri #env DISCOURSE_URL_REDIRECT}}
             :first_party true,
             :grant_types ["authorization_code"],
             :secret #env DISCOURSE_SECRET}
            :web
            {:auth {:implicit {:redirect_uri #env FRONTEND_URL_AUTH}}
             :first_party true,
             :grant_types ["implicit"]}}
   :AidboxQuery {:expand
                 {:query "
select jsonb_build_object(
    'system',resource->'system',
    'code',resource->'code',
    'display',resource->'display') as concept
from concept
  where (resource->'valueset') @> {{params.valueset}}
  and resource::text ilike {{params.text}}
"
                  :params {:text {:type "string"
                                  :format "%%%s%%"
                                  :isRequired true}
                           :valueset {:type "string"
                                      :format "\"%s\""
                                      :isRequired true}}}}}}}
