{ns hl7-fhir-uv-ichom-breastcancer.value-set.ComplicationTypeVS,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "ValueSet of the type of complication experienced by the breast cancer patient",
  :zen.fhir/version "0.5.20",
  :fhir/code-systems
  #{{:fhir/url "http://snomed.info/sct", :zen.fhir/content :bundled}
    {:fhir/url "http://terminology.hl7.org/CodeSystem/v3-NullFlavor",
     :zen.fhir/content :bundled}
    {:fhir/url
     "http://connect.ichom.org/fhir/CodeSystem/complication-type",
     :zen.fhir/content :bundled}},
  :uri "https://connect.ichom.org/fhir/ValueSet/ComplicationTypeVS",
  :version "0.0.1"}}