{ns hl7-fhir-uv-ichom-breastcancer.value-set.FACTESValueSet,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Valueset of the Functional Assessment of Cancer Therapy questionnaire",
  :zen.fhir/version "0.5.20",
  :fhir/code-systems
  #{{:fhir/url "http://connect.ichom.org/fhir/CodeSystem/FACT-ES",
     :zen.fhir/content :bundled}},
  :uri "https://connect.ichom.org/fhir/ValueSet/FACTESValueSet",
  :version "0.0.1"}}