{ns
 hl7-fhir-uv-ichom-breastcancer.value-set.tnm-regional-nodes-category-vs,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Valueset of the TNM stage for the N category, according to TNM staging rules",
  :zen.fhir/version "0.5.20",
  :fhir/code-systems
  #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-NullFlavor",
     :zen.fhir/content :bundled}
    {:fhir/url "http://cancerstaging.org",
     :zen.fhir/content :bundled}},
  :uri
  "https://connect.ichom.org/fhir/ValueSet/tnm-regional-nodes-category-vs",
  :version "0.0.1"}}