{ns fhir-ichom-breast-cancer-ig,
 import
 #{fhir-ichom-breast-cancer-ig.lymph-nodes-resected
   fhir-ichom-breast-cancer-ig.oncotype-score
   fhir-ichom-breast-cancer-ig.value-set.RecommendedTreatmentTypeValueSet
   fhir-ichom-breast-cancer-ig.value-set.HistologicalTypeVS
   fhir-ichom-breast-cancer-ig.Race
   fhir-ichom-breast-cancer-ig.value-set.FACTESValueSet
   fhir-ichom-breast-cancer-ig.value-set.DemographicFactorsCountry
   fhir-ichom-breast-cancer-ig.value-set.BreastQValueSet
   fhir-ichom-breast-cancer-ig.recr-method
   fhir-ichom-breast-cancer-ig.value-set.tnm-regional-nodes-category-vs
   fhir-ichom-breast-cancer-ig.mammaprint-score
   fhir-ichom-breast-cancer-ig.value-set.RecurrenceMethod
   fhir-ichom-breast-cancer-ig.lymph-nodes-involved
   fhir-ichom-breast-cancer-ig.pr-status
   fhir-ichom-breast-cancer-ig.value-set.SACQPatientComorbidityHistory
   fhir-ichom-breast-cancer-ig.ichom-body-height
   fhir-ichom-breast-cancer-ig.EducationLevel
   fhir-ichom-breast-cancer-ig.er-status
   fhir-ichom-breast-cancer-ig.value-set.ProgesteroneStatusVS
   fhir-ichom-breast-cancer-ig.value-set.EstrogenStatusVS
   fhir-ichom-breast-cancer-ig.value-set.GermlineMutationVS
   fhir-ichom-breast-cancer-ig.value-set.DemographicFactorsSexAtBirth
   fhir-ichom-breast-cancer-ig.value-set.BodyWeightVS
   fhir-ichom-breast-cancer-ig.germline-mutation
   fhir-ichom-breast-cancer-ig.value-set.TreatmentTypeValueSet
   fhir-ichom-breast-cancer-ig.value-set.HER2ReceptorStatusVS
   fhir-ichom-breast-cancer-ig.value-set.EORTCQLQValueSet
   fhir-ichom-breast-cancer-ig.value-set.EducationLevelVS
   fhir-ichom-breast-cancer-ig.ichom-body-weight
   fhir-ichom-breast-cancer-ig.primary-breastcancer
   fhir-ichom-breast-cancer-ig.value-set.LateralityVS
   fhir-ichom-breast-cancer-ig.sizeinvasivetumor
   fhir-ichom-breast-cancer-ig.value-set.BreastSurgeryTypeValueSet
   fhir-ichom-breast-cancer-ig.value-set.GradingVS
   fhir-ichom-breast-cancer-ig.value-set.RelationshipStatusVS
   fhir-ichom-breast-cancer-ig.endopredicton-score
   fhir-ichom-breast-cancer-ig.Ethnicity
   fhir-ichom-breast-cancer-ig.value-set.tnm-distant-metastases-category-vs
   fhir-ichom-breast-cancer-ig.patient
   fhir-ichom-breast-cancer-ig.histo-type
   fhir-ichom-breast-cancer-ig.treatment-plan
   fhir-ichom-breast-cancer-ig.her-status
   fhir-ichom-breast-cancer-ig.value-set.DemographicFactorsRace
   fhir-ichom-breast-cancer-ig.invasion-grade
   fhir-ichom-breast-cancer-ig.value-set.MenopausalStatusVS
   fhir-ichom-breast-cancer-ig.value-set.DemographicFactorsEthnicity
   fhir-ichom-breast-cancer-ig.secondary-breastcancer
   fhir-ichom-breast-cancer-ig.death-attr-bc
   fhir-ichom-breast-cancer-ig.value-set.NoYesUnknownValueSet
   fhir-ichom-breast-cancer-ig.menopausal-status
   fhir-ichom-breast-cancer-ig.value-set.LateralityNewCancerVS
   fhir-ichom-breast-cancer-ig.tumor-grade
   fhir-ichom-breast-cancer-ig.value-set.tnm-primary-tumor-category-vs}}