{ns hl7-fhir-uv-ichom-breastcancer.chemotherapy,
 import
 #{hl7-fhir-r4-core.Period
   zen.fhir
   hl7-fhir-r4-core.dateTime
   hl7-fhir-r4-core.Reference
   hl7-fhir-r4-core.Element
   hl7-fhir-r4-core.Procedure
   hl7-fhir-r4-core.CodeableConcept
   hl7-fhir-uv-ichom-breastcancer.patient
   hl7-fhir-uv-ichom-breastcancer.value-set.TherapyIntentVS
   hl7-fhir-uv-ichom-breastcancer.value-set.ChemoTherapyTypeVS
   hl7-fhir-r4-core.procedure-method
   hl7-fhir-uv-ichom-breastcancer.primary-breastcancer},
 schema
 {:zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen/desc
  "Represents if the patient received chemotherapy during the last year.",
  :zen.fhir/type "Procedure",
  :zen.fhir/profileUri
  "https://connect.ichom.org/fhir/StructureDefinition/chemotherapy",
  :zen.fhir/version "0.5.20",
  :confirms #{hl7-fhir-r4-core.Procedure/schema zen.fhir/Resource},
  :type zen/map,
  :keys
  {:method
   {:confirms #{hl7-fhir-r4-core.procedure-method/schema},
    :fhir/extensionUri
    "http://hl7.org/fhir/StructureDefinition/procedure-method",
    :type zen/map,
    :keys
    {:valueCodeableConcept
     {:zen.fhir/value-set
      {:symbol
       hl7-fhir-uv-ichom-breastcancer.value-set.ChemoTherapyTypeVS/value-set,
       :strength :preferred}}},
    :require #{:valueCodeableConcept},
    :fhir/flags #{:MS}},
   :code
   {:match
    {:coding
     #{{:system "http://snomed.info/sct",
        :code "385786002",
        :display "Chemotherapy care"}}},
    :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}},
   :subject
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :fhir/flags #{:MS},
    :zen.fhir/reference
    {:refers #{hl7-fhir-uv-ichom-breastcancer.patient/schema}}},
   :performed
   {:confirms #{hl7-fhir-r4-core.Period/schema},
    :type zen/map,
    :keys
    {:Period
     {:confirms #{hl7-fhir-r4-core.Period/schema},
      :type zen/map,
      :keys
      {:start {:confirms #{hl7-fhir-r4-core.dateTime/schema}},
       :_start {:confirms #{hl7-fhir-r4-core.Element/schema}},
       :end {:confirms #{hl7-fhir-r4-core.dateTime/schema}},
       :_end {:confirms #{hl7-fhir-r4-core.Element/schema}}},
      :fhir/flags #{:MS}}}},
   :reasonCode
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
     :fhir/flags #{:MS},
     :zen.fhir/value-set
     {:symbol
      hl7-fhir-uv-ichom-breastcancer.value-set.TherapyIntentVS/value-set,
      :strength :required}}},
   :reasonReference
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
     :fhir/flags #{:MS},
     :zen.fhir/reference
     {:refers
      #{hl7-fhir-uv-ichom-breastcancer.primary-breastcancer/schema}}}}}}}