{ns hl7-fhir-uv-ichom-breastcancer.involved-margins-reoperation,
 import
 #{hl7-fhir-uv-ichom-breastcancer.value-set.InvolvedMarginsReoperationTypeVS
   zen.fhir
   hl7-fhir-r4-core.procedure-causedBy
   hl7-fhir-r4-core.dateTime
   hl7-fhir-r4-core.Reference
   hl7-fhir-r4-core.Element
   hl7-fhir-r4-core.Procedure
   hl7-fhir-r4-core.CodeableConcept
   hl7-fhir-uv-ichom-breastcancer.patient
   hl7-fhir-uv-ichom-breastcancer.primary-breastcancer},
 schema
 {:zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen/desc
  "A reoperation due to involved margins after primary surgery",
  :zen.fhir/type "Procedure",
  :zen.fhir/profileUri
  "https://connect.ichom.org/fhir/StructureDefinition/involved-margins-reoperation",
  :zen.fhir/version "0.5.20",
  :confirms #{hl7-fhir-r4-core.Procedure/schema zen.fhir/Resource},
  :type zen/map,
  :keys
  {:causedBy
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.procedure-causedBy/schema},
     :fhir/extensionUri
     "http://hl7.org/fhir/StructureDefinition/procedure-causedBy",
     :type zen/map,
     :keys
     {:value
      {:fhir/polymorphic true,
       :type zen/map,
       :keys
       {:Reference
        {:confirms
         #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
         :zen.fhir/reference
         {:refers #{hl7-fhir-r4-core.Procedure/schema}}}}}},
     :fhir/flags #{:MS},
     :zen/desc "Original procedure that prompted the reoperation"}},
   :code
   {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
    :fhir/flags #{:MS},
    :zen.fhir/value-set
    {:symbol
     hl7-fhir-uv-ichom-breastcancer.value-set.InvolvedMarginsReoperationTypeVS/value-set,
     :strength :required}},
   :subject
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :fhir/flags #{:MS},
    :zen.fhir/reference
    {:refers #{hl7-fhir-uv-ichom-breastcancer.patient/schema}}},
   :performed
   {:type zen/map,
    :keys
    {:dateTime
     {:confirms #{hl7-fhir-r4-core.dateTime/schema},
      :fhir/flags #{:MS}},
     :_dateTime {:confirms #{hl7-fhir-r4-core.Element/schema}}}},
   :reasonReference
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
     :zen.fhir/reference
     {:refers
      #{hl7-fhir-uv-ichom-breastcancer.primary-breastcancer/schema}}}}}}}