{ns hl7-fhir-uv-ichom-breastcancer.treatment-plan-not-followed,
 import
 #{hl7-fhir-r4-core.Observation
   zen.fhir
   hl7-fhir-uv-ichom-breastcancer.value-set.TreatmentPlanNotFollowedVS
   hl7-fhir-r4-core.CodeableConcept},
 schema
 {:zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen/desc
  "Indicate why the multidisciplinary recommended treatment plan was not followed",
  :zen.fhir/type "Observation",
  :zen.fhir/profileUri
  "https://connect.ichom.org/fhir/StructureDefinition/treatment-plan-not-followed",
  :zen.fhir/version "0.5.20",
  :confirms #{hl7-fhir-r4-core.Observation/schema zen.fhir/Resource},
  :type zen/map,
  :keys
  {:code
   {:match
    {:coding
     #{{:system
        "http://connect.ichom.org/fhir/CodeSystem/TreatmentPlanCompliance",
        :code "1",
        :display "Reason for not following original treatment plan"}}},
    :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}},
   :value
   {:fhir/polymorphic true,
    :type zen/map,
    :keys
    {:CodeableConcept
     {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema}}},
    :fhir/flags #{:MS},
    :zen.fhir/value-set
    {:symbol
     hl7-fhir-uv-ichom-breastcancer.value-set.TreatmentPlanNotFollowedVS/value-set,
     :strength :required}}}}}