{ns
 hl7-fhir-uv-ichom-breastcancer.value-set.DemographicFactorsEthnicity,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc "Valueset of the ethnicity of a patient",
  :zen.fhir/version "0.5.20",
  :fhir/code-systems
  #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-Ethnicity",
     :zen.fhir/content :bundled}},
  :uri
  "https://connect.ichom.org/fhir/ValueSet/DemographicFactorsEthnicity",
  :version "0.0.1"}}