{ns hl7-fhir-uv-ichom-breastcancer.value-set.EstrogenStatusVS,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc "Valueset of the Estrogen receptor status",
  :zen.fhir/version "0.5.20",
  :fhir/code-systems
  #{{:fhir/url "http://snomed.info/sct", :zen.fhir/content :bundled}
    {:fhir/url "http://terminology.hl7.org/CodeSystem/v3-NullFlavor",
     :zen.fhir/content :bundled}},
  :uri "https://connect.ichom.org/fhir/ValueSet/EstrogenStatusVS",
  :version "0.0.1"}}