{ns hl7-fhir-uv-ichom-breastcancer.value-set.HER2ReceptorStatusVS,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc "Valueset of the HER2 receptor status",
  :zen.fhir/version "0.5.20",
  :fhir/code-systems
  #{{:fhir/url "http://snomed.info/sct", :zen.fhir/content :bundled}},
  :uri "https://connect.ichom.org/fhir/ValueSet/HER2ReceptorStatusVS",
  :version "0.0.1"}}