{ns hl7-fhir-uv-ichom-breastcancer.value-set.RecurrenceMethodVS,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Valueset of the methods used to confirm recurrence of breast cancer",
  :zen.fhir/version "0.5.20",
  :fhir/code-systems
  #{{:fhir/url "http://snomed.info/sct", :zen.fhir/content :bundled}
    {:fhir/url
     "http://connect.ichom.org/fhir/CodeSystem/RecurrenceMethod",
     :zen.fhir/content :bundled}
    {:fhir/url "http://terminology.hl7.org/CodeSystem/v3-NullFlavor",
     :zen.fhir/content :bundled}},
  :uri "https://connect.ichom.org/fhir/ValueSet/RecurrenceMethodVS",
  :version "0.0.1"}}