{ns hl7-fhir-uv-ichom-breastcancer.value-set.TreatmentTypeValueSet,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Valueset of the kind of treatment a patient with breastcancer underwent",
  :zen.fhir/version "0.5.20",
  :fhir/code-systems
  #{{:fhir/url
     "http://connect.ichom.org/fhir/CodeSystem/treatment-variables",
     :zen.fhir/content :bundled}
    {:fhir/url "http://snomed.info/sct", :zen.fhir/content :bundled}
    {:fhir/url "http://terminology.hl7.org/CodeSystem/v3-NullFlavor",
     :zen.fhir/content :bundled}},
  :uri "https://connect.ichom.org/fhir/ValueSet/TreatmentTypeValueSet",
  :version "0.0.1"}}