{ns hl7-fhir-uv-ichom-breastcancer,
 import
 #{hl7-fhir-uv-ichom-breastcancer.value-set.DemographicFactorsRace
   hl7-fhir-uv-ichom-breastcancer.value-set.tnm-regional-nodes-category-vs
   hl7-fhir-uv-ichom-breastcancer.endopredicton-score
   hl7-fhir-uv-ichom-breastcancer.radiotherapy
   hl7-fhir-uv-ichom-breastcancer.pr-status
   hl7-fhir-uv-ichom-breastcancer.treatment-plan
   hl7-fhir-uv-ichom-breastcancer.recr-method
   hl7-fhir-uv-ichom-breastcancer.value-set.InvolvedMarginsReoperationTypeVS
   hl7-fhir-uv-ichom-breastcancer.value-set.RecurrenceMethodVS
   hl7-fhir-uv-ichom-breastcancer.value-set.ComplicationImpactVS
   hl7-fhir-uv-ichom-breastcancer.menopausal-status
   hl7-fhir-uv-ichom-breastcancer.value-set.SACQPatientComorbidityHistory
   hl7-fhir-uv-ichom-breastcancer.value-set.ProgesteroneStatusVS
   hl7-fhir-uv-ichom-breastcancer.value-set.ReoperationTypeVS
   hl7-fhir-uv-ichom-breastcancer.breast-cancer-stage-group
   hl7-fhir-uv-ichom-breastcancer.reoperation-surgery
   hl7-fhir-uv-ichom-breastcancer.tumor-grade
   hl7-fhir-uv-ichom-breastcancer.value-set.RelationshipStatusVS
   hl7-fhir-uv-ichom-breastcancer.sizeinvasivetumor
   hl7-fhir-r4-core
   hl7-fhir-uv-ichom-breastcancer.value-set.BreastQValueSet
   hl7-fhir-uv-ichom-breastcancer.secondary-breastcancer
   hl7-fhir-uv-ichom-breastcancer.Ethnicity
   hl7-fhir-uv-ichom-breastcancer.value-set.PatientTreatPrefVS
   hl7-fhir-uv-ichom-breastcancer.EducationLevel
   hl7-fhir-uv-ichom-breastcancer.death-attr-bc
   hl7-fhir-uv-ichom-breastcancer.patient-treat-pref
   hl7-fhir-uv-ichom-breastcancer.axillary-clearance
   hl7-fhir-uv-ichom-breastcancer.value-set.MenopausalStatusVS
   hl7-fhir-uv-ichom-breastcancer.value-set.tnm-stage-group-vs
   hl7-fhir-uv-ichom-breastcancer.axilla-surgery
   hl7-fhir-uv-ichom-breastcancer.value-set.DemographicFactorsCountry
   hl7-fhir-uv-ichom-breastcancer.tnm-distant-metastases
   hl7-fhir-uv-ichom-breastcancer.oncotype-score
   hl7-fhir-uv-ichom-breastcancer.breast-cancer-surgery
   hl7-fhir-uv-ichom-breastcancer.value-set.EducationLevelVS
   hl7-fhir-uv-ichom-breastcancer.reconstruction-surgery
   hl7-fhir-uv-ichom-breastcancer.value-set.RecommendedTreatmentTypeVS
   hl7-fhir-uv-ichom-breastcancer.er-status
   hl7-fhir-uv-ichom-breastcancer.complication
   hl7-fhir-uv-ichom-breastcancer.value-set.NoYesUnknownVS
   hl7-fhir-uv-ichom-breastcancer.Race
   hl7-fhir-uv-ichom-breastcancer.tnm-regional-nodes-stage
   hl7-fhir-uv-ichom-breastcancer.ichom-body-height
   hl7-fhir-uv-ichom-breastcancer.value-set.TargetedTherapyVS
   hl7-fhir-uv-ichom-breastcancer.value-set.FACTESValueSet
   hl7-fhir-uv-ichom-breastcancer.treatment-plan-not-followed
   hl7-fhir-uv-ichom-breastcancer.lymph-nodes-involved
   hl7-fhir-uv-ichom-breastcancer.germline-mutation
   hl7-fhir-uv-ichom-breastcancer.value-set.tnm-primary-tumor-category-vs
   hl7-fhir-uv-ichom-breastcancer.value-set.TreatmentPlanFollowedVS
   hl7-fhir-uv-ichom-breastcancer.value-set.EstrogenStatusVS
   hl7-fhir-uv-ichom-breastcancer.invasion-grade
   hl7-fhir-uv-ichom-breastcancer.value-set.GradingVS
   hl7-fhir-uv-ichom-breastcancer.value-set.TreatmentPlanComplianceVS
   hl7-fhir-uv-ichom-breastcancer.value-set.BodyWeightVS
   hl7-fhir-uv-ichom-breastcancer.value-set.tnm-distant-metastases-category-vs
   hl7-fhir-uv-ichom-breastcancer.lymph-nodes-resected
   hl7-fhir-uv-ichom-breastcancer.value-set.ImplantLocationVS
   hl7-fhir-uv-ichom-breastcancer.chemotherapy
   hl7-fhir-uv-ichom-breastcancer.best-supportive-care
   hl7-fhir-uv-ichom-breastcancer.mammaprint-score
   hl7-fhir-uv-ichom-breastcancer.targeted-therapy
   hl7-fhir-uv-ichom-breastcancer.tnm-primary-tumor-stage
   hl7-fhir-uv-ichom-breastcancer.value-set.TreatmentPlanNotFollowedVS
   hl7-fhir-uv-ichom-breastcancer.value-set.HormonalTherapyTypeVS
   hl7-fhir-uv-ichom-breastcancer.her-status
   hl7-fhir-uv-ichom-breastcancer.value-set.LateralityNewCancerVS
   hl7-fhir-uv-ichom-breastcancer.value-set.BreastSurgeryTypeVS
   hl7-fhir-uv-ichom-breastcancer.involved-margins-reoperation
   hl7-fhir-uv-ichom-breastcancer.patient
   hl7-fhir-uv-ichom-breastcancer.value-set.TherapyIntentVS
   hl7-fhir-uv-ichom-breastcancer.value-set.TreatmentTypeValueSet
   hl7-fhir-uv-ichom-breastcancer.value-set.ChemoTherapyTypeVS
   hl7-fhir-uv-ichom-breastcancer.histo-type
   hl7-fhir-uv-ichom-breastcancer.value-set.HistologicalTypeVS
   hl7-fhir-uv-ichom-breastcancer.value-set.AxillaSurgeryVS
   hl7-fhir-uv-ichom-breastcancer.value-set.DemographicFactorsSexAtBirth
   hl7-fhir-uv-ichom-breastcancer.value-set.HER2ReceptorStatusVS
   hl7-fhir-uv-ichom-breastcancer.treatment-plan-followed
   hl7-fhir-uv-ichom-breastcancer.value-set.EORTCQLQValueSet
   hl7-fhir-uv-ichom-breastcancer.value-set.LateralityVS
   hl7-fhir-uv-ichom-breastcancer.primary-breastcancer
   hl7-fhir-uv-ichom-breastcancer.value-set.ReconstructionTypeVS
   hl7-fhir-uv-ichom-breastcancer.value-set.LocationRadiotherapyVS
   hl7-fhir-uv-ichom-breastcancer.ichom-body-weight
   hl7-fhir-uv-ichom-breastcancer.immunotherapy
   hl7-fhir-uv-ichom-breastcancer.value-set.ComplicationTypeVS
   hl7-fhir-uv-ichom-breastcancer.value-set.DemographicFactorsEthnicity
   hl7-fhir-uv-ichom-breastcancer.hormonal-therpay
   hl7-fhir-uv-ichom-breastcancer.value-set.GermlineMutationVS}}