{ns fhir-ichom-breast-cancer-ig.treatment-plan,
 import
 #{fhir-ichom-breast-cancer-ig.value-set.RecommendedTreatmentTypeValueSet
   hl7-fhir-r4-core.BackboneElement
   hl7-fhir-r4-core.CarePlan
   zen.fhir
   hl7-fhir-r4-core.dateTime
   fhir-ichom-breast-cancer-ig.patient
   hl7-fhir-r4-core.Reference
   hl7-fhir-r4-core.Element
   hl7-fhir-r4-core.CodeableConcept},
 schema
 {:zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen/desc
  "Represents the treatment that a multidisciplinary team recommended during a multidisciplinary meeting",
  :zen.fhir/type "CarePlan",
  :zen.fhir/profileUri
  "https://connect.ichom.org/fhir/StructureDefinition/treatment-plan",
  :zen.fhir/version "0.5.18",
  :confirms #{hl7-fhir-r4-core.CarePlan/schema zen.fhir/Resource},
  :type zen/map,
  :keys
  {:category
   {:type zen/vector,
    :every {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema}}},
   :subject
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :zen.fhir/reference
    {:refers #{fhir-ichom-breast-cancer-ig.patient/schema}}},
   :created
   {:confirms #{hl7-fhir-r4-core.dateTime/schema}, :fhir/flags #{:MS}},
   :_created {:confirms #{hl7-fhir-r4-core.Element/schema}},
   :activity
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
     :type zen/map,
     :keys
     {:detail
      {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
       :type zen/map,
       :keys
       {:code
        {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
         :fhir/flags #{:MS},
         :zen.fhir/value-set
         {:symbol
          fhir-ichom-breast-cancer-ig.value-set.RecommendedTreatmentTypeValueSet/value-set,
          :strength :required}}}}}}}}}}